<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>许愿墙</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/index.css" />
	<script type="text/javascript" src='__PUBLIC__/Common/base/jquery-1.7.2.min.js'></script>
	<script src="__PUBLIC__/Common/kindeditor/kindeditor-all.js"></script>
	<script type="text/javascript" src='__PUBLIC__/Home/js/index.js'></script>
	<script type="text/javascript">
		var handleUrl = '{:U("Index/handle",'','')}'
	</script>
</head>
<body>
	<div id='top'>
		<span id='send'></span>
	</div>
	<div id='main'>
	  <foreach name='wish' item='v'>
		<dl class='paper a{:mt_rand(1,5)}'>
			<dt>
				<span class='username'>{$v.username}</span>
				<span class='num'>{$v.id}</span>
			</dt>
			<!--<dd class='content'>{$v.content|replace_expression=###}</dd>-->
			<dd class='content'>{$v.content}</dd>
			<dd class='bottom'>
				<span class='time'>{$v.time|date='y-m-d H:i',###}</span>
				<a href="" class='close'></a>
			</dd>
		</dl>
	   </foreach>
		
	</div>

	<div id='send-form'>
		<p class='title'><span>许下你的愿望</span><a href="" id='close'></a></p>
		<form action="" name='wish'>
			<p>
				<label for="username">昵称：</label>
				<input type="text" name='username' id='username'/>
			</p>
			<p>
				<label for="content">愿望：(您还可以输入&nbsp;<span id='font-num'>50</span>&nbsp;个字)</label>
				<textarea name="content" id='content'></textarea>
				<div id='expression'>
					<img src="__PUBLIC__/Home/img/expression/zhuakuang.gif" alt="抓狂" />
					<img src="__PUBLIC__/Home/img/expression/baobao.gif" alt="抱抱" />
					<img src="__PUBLIC__/Home/img/expression/haixiu.gif" alt="害羞" />
					<img src="__PUBLIC__/Home/img/expression/ku.gif" alt="酷" />
					<img src="__PUBLIC__/Home/img/expression/xixi.gif" alt="嘻嘻" />
					<img src="__PUBLIC__/Home/img/expression/taikaixin.gif" alt="太开心" />
					<img src="__PUBLIC__/Home/img/expression/touxiao.gif" alt="偷笑" />
					<img src="__PUBLIC__/Home/img/expression/qian.gif" alt="钱" />
					<img src="__PUBLIC__/Home/img/expression/huaxin.gif" alt="花心" />
					<img src="__PUBLIC__/Home/img/expression/jiyan.gif" alt="挤眼" />
				</div>
			</p>
			<span id='send-btn'></span>
		</form>
	</div>
</body>
</html>