<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
		<title>后台管理系统</title>
		<script src="__PUBLIC__/Common/boot.js"></script>
		<script src="__PUBLIC__/Common/kindeditor/kindeditor-all.js"></script>
		<script>
			var editor = null;
			$(function() {
				mini.parse();
			});

			function showWindow() {
				var win = mini.get("win1");
				win.show();
			}
			function onCancelClick() {
				var win = mini.get("win1");
				win.hide();
			}
			setTimeout(function() {
				editor = KindEditor.create('#ke', {
					resizeType: 1,
					uploadJson: 'kindeditor/upload_json.ashx',
					fileManagerJson: 'kindeditor/file_manager_json.ashx',
					allowPreviewEmoticons: false,
					allowImageUpload: true,
					items: [
						'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
						'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
						'insertunorderedlist', '|', 'emoticons', 'image', 'link'
					]
				});
			}, 1);

			function onAddClick() {
				var username = "{$Think.session.account}";
				var text = editor.html();
				var messageid = mini.loading("操作中 ...");
				$.post("{:U('Home/Index/handle')}",{
					username: username,
					content: text,
				},function(data, status){
					mini.hideMessageBox(messageid);
					if(status && data.success) {
						parent.mini.showMessageBox({
							showModal: false,
							width: 250,
							title: "提示",
							iconCls: "mini-messagebox-warning",
							message: "添加成功",
							timeout: 1500,
							x: 'left',
							y: 'bottom'
						});
						onCancelClick();
						mini.get("wishGrid").reload();
					} else if(status) {
						mini.alert(data.info);
					} else {
						mini.alert("网络异常！");
					}
				}, 'json');
			}

			function onActionRenderer(e) {
				var id = e.row.id;
				var rowIndex = e.rowIndex;
				var s = '<a class="Edit_Button" href="javascript:deleteWish(\'' + id + '\')">删除</a> ';
				return s;
			}
			
			function showContent() {
				var row = mini.get("wishGrid").getSelected();
				mini.alert(row.content);
			}
			function deleteWish(id) {
				if(id==undefined){
					id = mini.get("wishGrid").getSelected().id;
				}
				mini.confirm("确认删除该愿望？", "确定删除？", function(action) {
					if(action == "ok") {
						var messageid = mini.loading("操作中，请稍后......");
						$.post("{:U('App/wish_delete')}", {
							"id": id
						}, function(data, status) {
							mini.hideMessageBox(messageid);
							if(status && data.success) {
								parent.mini.showMessageBox({
									showModal: false,
									width: 250,
									title: "提示",
									iconCls: "mini-messagebox-warning",
									message: "删除成功！",
									timeout: 1500,
									x: 'left',
									y: 'bottom'
								});
								mini.get("wishGrid").reload();
							} else if(status) {
								mini.alert(data.info);
							} else {
								mini.alert("网络异常！");
							}
						});
					}
				});
			}

			function onBeforeOpen(e) {
				var grid = mini.get("wishGrid");
				var menu = e.sender;

				var row = grid.getSelected();
				var rowIndex = grid.indexOf(row);
				if(!row) {
					e.cancel = true;
					//阻止浏览器默认右键菜单
					e.htmlEvent.preventDefault();
					return;
				}
			}
		</script>
	</head>

	<body>
		<div id="Div" style="padding:0px;padding-top:10px;">
			<div class="mini-toolbar" style="border-bottom:0;padding:0px;">
				<table style="width:100%;">
					<tr>
						<td style="width:100%;">
							<a class="mini-button" iconCls="icon-add" onclick="showWindow()">发布愿望</a>
						</td>
						<td style="white-space:nowrap;">
							<input id="key" class="mini-datepicker" emptyText="请选择时间" style="width:150px;" onenter="onKeyEnter" />
							<a class="mini-button" onclick="onSearchClick()">查询</a>
						</td>
					</tr>
				</table>
			</div>
			<div id="wishGrid" class="mini-datagrid" style="width:100%;" url="{:U('App/wish_list')}" allowResize="true" autoload="true" allowAlternating="true" showColumnsMenu="true" contextMenu="#gridMenu">
				<div property="columns">
					<div type="indexcolumn" headerAlign="center" width="20px">序号</div>
					<div field="id" align="center" headerAlign="center" width="20px">ID</div>
					<div field="username" align="center" headerAlign="center" width="40px">发布者</div>
					<div field="content" align="center" headerAlign="center">内容</div>
					<div field="time" align="center" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm:ss" width="50px">
						发布时间
					</div>
					<div name="action" headerAlign="center" align="center" renderer="onActionRenderer" cellStyle="padding:0;" width="30px">操作</div>
				</div>
			</div>
			<ul id="gridMenu" class="mini-contextmenu" onbeforeopen="onBeforeOpen">
				<li name="show" iconCls="icon-search" onclick="showContent()">查看内容</li>
				<li name="delete" iconCls="icon-remove" onclick="deleteWish()">删除愿望</li>
			</ul>
		</div>

		<div id="win1" class="mini-window" title="发布愿望" style="width:480px;height:350px;" showModal="true" allowResize="true" bodyStyle="overflow:hidden;">
			<textarea id="ke" name="content" style="width:100%;height:270px;visibility:hidden;">
        	</textarea>
			<div align="center" style="margin-top: 10px;">
				<a class="mini-button" style="margin-right: 20px;" iconCls="icon-save" onclick="onAddClick()">添加</a>
				<a class="mini-button" style="margin-left: 20px;" iconCls="icon-cancel" onclick="onCancelClick()">取消</a>
			</div>
		</div>
	</body>

</html>